Repository andrzej3393/homelab-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: ansible, flux, docs, actions

last changes from nginx ingress to cilium
  k3s-experimental/core/flux-system/weave-gitops/app/helmrelease.yaml
  k3s-experimental/core/flux-system/weave-gitops/kustomization.yaml
Labels: none

cilium & external-dns fixes for experimental cluster
  k3s-experimental/core/cert-manager/cert-manager/certificates/certificate.yaml
  k3s-experimental/core/cert-manager/cert-manager/issuers/letsencrypt-cloudflare.yaml
  k3s-experimental/core/cilium/cilium/kustomization.yaml
Labels: none

fix paths
  k3s-experimental/core/cilium/cilium/kustomization.yaml
Labels: none

add cilium repo
  k3s-experimental/sources/cilium.yaml
  k3s-experimental/sources/kustomization.yaml
Labels: none

change domain
  k3s-experimental/core/cert-manager/cert-manager/certificates/certificate.yaml
  k3s-experimental/core/flux-system/substitutions/secrets/externalsecret-core.yaml
Labels: none

reconfigure domain filters
  k3s-experimental/core/external-dns/external-dns/app/helmrelease.yaml
Labels: none

add missimng kustomization for cert manager certificate
  k3s-experimental/core/cert-manager/cert-manager/kustomization.yaml
Labels: none

external dns prefix typo
  k3s-experimental/core/external-dns/external-dns/app/helmrelease.yaml
Labels: none

reconfigure cilium
  k3s-experimental/core/cilium/cilium/app/values.yaml
Labels: none

change ip
  k3s-experimental/core/cilium/cilium/app/values.yaml
Labels: none

get back to annotation
  k3s-experimental/core/cilium/cilium/app/values.yaml
Labels: none

enable drift detection for weave gitops
  k3s-experimental/core/flux-system/weave-gitops/app/helmrelease.yaml
Labels: none

Update kustomization.yaml
  k3s-experimental/bootstrap/flux-system/kustomization.yaml
Labels: none

fix tls config for gitops
  k3s-experimental/core/flux-system/weave-gitops/app/helmrelease.yaml
Labels: none

make prettier happy
  README.md
  k3s-experimental/bootstrap/flux-system/gotk-components.yaml
  k3s-stable/apps/ai/ollama/app/helmrelease.yaml
  k3s-stable/bootstrap/flux-system/gotk-components.yaml
  renovate.json
Labels: docs

fix path
  .github/workflows/ansible-lint.yml
Labels: actions

fix ansible lint action
  .github/workflows/ansible-lint.yml
Labels: actions

Revert "Update dependency ansible-pylibssh to v1.2.2 (#154)"
  requirements.txt
Labels: none

Revert "Update dependency ansible-pylibssh to v1.2.2" (#164)
  requirements.txt
Labels: none

install libssh in ansible lint action
  .github/workflows/ansible-lint.yml
Labels: actions

python cache in ansible-lint action
  .github/workflows/ansible-lint.yml
Labels: actions

.github/labeler.yml:

ansible:
  - changed-files:
      - any-glob-to-any-file:
          - "ansible/**/*"
flux:
  - changed-files:
      - any-glob-to-any-file:
          - "flux/**/*"
docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "**/*.md"
actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/*"
