Repository andrzej3393/homelab-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: ansible, k3s, docs, actions

.github/labeler.yml:

ansible:
  - changed-files:
      - any-glob-to-any-file:
          - "ansible/**/*"
          - "requirements.txt"

k3s:
  - changed-files:
      - any-glob-to-any-file:
          - "k3s-stable/**/*"
          - "k3s-experimental/**/*"

docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "**/*.md"

actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/*"

last fix I guess
  terraform/_locals.tf
Labels: none

bump homepage
  k3s-stable/apps/homepage/homepage/app/helmrelease.yaml
Labels: k3s

update renovate config
  renovate.json
Labels: none

bump external-secrets to 0.16.2
  k3s-experimental/core/external-secrets/external-secrets/app/helmrelease.yaml
  k3s-stable/core/external-secrets/external-secrets/app/helmrelease.yaml
Labels: k3s

bump external secret crds to v1
  k3s-experimental/core/cert-manager/cert-manager/issuers/externalsecret.yaml
  k3s-experimental/core/external-dns/external-dns/app/externalsecret.yaml
  k3s-experimental/core/external-secrets/cluster-wide-secrets/secrets/ghcr-pull.yaml
  k3s-experimental/core/external-secrets/external-secrets/op-store/store.yaml
  k3s-experimental/core/flux-system/notifications/notifications/externalsecret.yaml
  k3s-experimental/core/flux-system/substitutions/secrets/externalsecret-core.yaml
  k3s-experimental/core/flux-system/substitutions/secrets/externalsecret-healthchecks.yaml
  k3s-experimental/core/flux-system/substitutions/secrets/externalsecret-robusta.yaml
  k3s-experimental/core/flux-system/weave-gitops/app/externalsecret.yaml
  k3s-stable/apps/karakeep/karakeep/app/externalsecret.yaml
  k3s-stable/apps/life-automations/drive-invoices/externalsecret.yaml
  k3s-stable/apps/monitoring/pve-exporter/app/externalsecret.yaml
  k3s-stable/apps/monitoring/scrutiny/app/externalsecret.yaml
  k3s-stable/core/cert-manager/cert-manager/issuers/externalsecret.yaml
  k3s-stable/core/external-dns/external-dns/app/externalsecret.yaml
  k3s-stable/core/external-secrets/cluster-wide-secrets/secrets/ghcr-pull.yaml
  k3s-stable/core/external-secrets/external-secrets/op-store/store.yaml
  k3s-stable/core/flux-system/notifications/notifications/externalsecret.yaml
  k3s-stable/core/flux-system/substitutions/secrets/externalsecret-changedetection.yaml
  k3s-stable/core/flux-system/substitutions/secrets/externalsecret-core.yaml
  k3s-stable/core/flux-system/substitutions/secrets/externalsecret-grafana.yaml
  k3s-stable/core/flux-system/substitutions/secrets/externalsecret-healthchecks.yaml
  k3s-stable/core/flux-system/substitutions/secrets/externalsecret-homepage.yaml
  k3s-stable/core/flux-system/substitutions/secrets/externalsecret-prometheus.yaml
  k3s-stable/core/flux-system/substitutions/secrets/externalsecret-robusta.yaml
  k3s-stable/core/flux-system/weave-gitops/app/externalsecret.yaml
Labels: k3s

update renovate config again
  renovate.json
Labels: none

helm-values back
  renovate.json
Labels: none

disable rate limit
  renovate.json
Labels: none

back flux managewr
  renovate.json
Labels: none

trigger jellyfin deploy
  k3s-stable/apps/media/jellyfin/app/helmrelease.yaml
Labels: k3s

set jellyfin image
  k3s-stable/apps/media/jellyfin/app/helmrelease.yaml
Labels: k3s

deploy spoolman
  k3s-stable/apps/spoolman/kustomization.yaml
  k3s-stable/apps/spoolman/namespace.yaml
  k3s-stable/apps/spoolman/spoolman/app/helmrelease.yaml
  k3s-stable/apps/spoolman/spoolman/app/pvc.yaml
  k3s-stable/apps/spoolman/spoolman/kustomization.yaml
Labels: k3s

actually deploy spoolman
  k3s-stable/apps/spoolman/kustomization.yaml
Labels: k3s

Revert "Update dependency fluxcd/flux2 to v2.7.2 (#588)"
  k3s-experimental/bootstrap/flux-system/gotk-components.yaml
  k3s-stable/bootstrap/flux-system/gotk-components.yaml
Labels: k3s

Revert "Update dependency fluxcd/flux2 to v2.7.2 (#588)" (#613)
  k3s-experimental/bootstrap/flux-system/gotk-components.yaml
  k3s-stable/bootstrap/flux-system/gotk-components.yaml
Labels: k3s

Revert "Update ghcr.io/fluxcd/helm-controller Docker tag to v1.4.2 (#582)"
  k3s-experimental/bootstrap/flux-system/gotk-components.yaml
  k3s-stable/bootstrap/flux-system/gotk-components.yaml
Labels: k3s

Revert "Update ghcr.io/fluxcd/helm-controller Docker tag to v1.4.2 (#582)" (#614)
  k3s-experimental/bootstrap/flux-system/gotk-components.yaml
  k3s-stable/bootstrap/flux-system/gotk-components.yaml
Labels: k3s

Update Flux source APIs to v1
  k3s-stable/sources/1password.yaml
  k3s-stable/sources/bjw-s.yaml
  k3s-stable/sources/christianknell.yaml
  k3s-stable/sources/cnpg.yaml
  k3s-stable/sources/csi-driver-nfs.yaml
  k3s-stable/sources/external-dns.yaml
  k3s-stable/sources/external-secrets.yaml
  k3s-stable/sources/home-assistant.yaml
  k3s-stable/sources/influxdata.yaml
  k3s-stable/sources/ingress-nginx.yaml
  k3s-stable/sources/jameswynn.yaml
  k3s-stable/sources/jellyfin.yaml
  k3s-stable/sources/jetstack.yaml
  k3s-stable/sources/kustomization.yaml
  k3s-stable/sources/metallb.yaml
  k3s-stable/sources/nfd.yaml
  k3s-stable/sources/nvidia.yaml
  k3s-stable/sources/ollama.yaml
  k3s-stable/sources/open-webui.yaml
  k3s-stable/sources/prometheus-community.yaml
  k3s-stable/sources/robusta.yaml
  k3s-stable/sources/stable-diffusion-webui.yaml
  k3s-stable/sources/weaveworks.yaml
  k3s-stable/sources/z2m.yaml
Labels: k3s

Update HelmRelease APIs to v2
  k3s-stable/apps/ai/ollama/app/helmrelease.yaml
  k3s-stable/apps/ai/open-webui/app/helmrelease.yaml
  k3s-stable/apps/ai/stable-diffusion-webui/app/helmrelease.yaml
  k3s-stable/apps/cnpg-system/cnpg/app/helmrelease.yaml
  k3s-stable/apps/homepage/homepage/app/helmrelease.yaml
  k3s-stable/apps/karakeep/karakeep/app/helmrelease.yaml
  k3s-stable/apps/life-automations/changedetection/app/helmrelease.yaml
  k3s-stable/apps/life-automations/changedetection/playwright/helmrelease.yaml
  k3s-stable/apps/media/jellyfin/app/helmrelease.yaml
  k3s-stable/apps/monitoring/influxdb/app/helmrelease.yaml
  k3s-stable/apps/monitoring/pve-exporter/app/helmrelease.yaml
  k3s-stable/apps/monitoring/robusta/app/helmrelease.yaml
  k3s-stable/apps/monitoring/scrutiny/app/helmrelease.yaml
  k3s-stable/apps/monitoring/speedtest/app/helmrelease.yaml
  k3s-stable/apps/spoolman/spoolman/app/helmrelease.yaml
  k3s-stable/core/cert-manager/cert-manager/app/helmrelease.yaml
  k3s-stable/core/external-dns/external-dns/app/helmrelease.yaml
  k3s-stable/core/external-secrets/external-secrets/app/helmrelease.yaml
  k3s-stable/core/external-secrets/op-connect/app/helmrelease.yaml
  k3s-stable/core/flux-system/weave-gitops/app/helmrelease.yaml
  k3s-stable/core/hardware/gpu-operator/app/helmrelease.yaml
  k3s-stable/core/hardware/nfd/app/helmrelease.yaml
  k3s-stable/core/ingress-nginx/ingress-nginx/app/helmrelease.yaml
  k3s-stable/core/metallb-system/metallb/helm/helm-release.yaml
  k3s-stable/core/storage/csi-driver-nfs/app/helmrelease.yaml
Labels: k3s

Update remaining Flux APIs
  k3s-stable/apps/high-seas/qbittorrent/app/helmrelease.yaml
  k3s-stable/apps/home-assistant/esphome/app/helmrelease.yaml
  k3s-stable/apps/home-assistant/home-assistant/app/helmrelease.yaml
  k3s-stable/apps/home-assistant/mosquitto/app/helmrelease.yaml
  k3s-stable/apps/home-assistant/rtl_433/app/helmrelease.yaml
  k3s-stable/apps/home-assistant/z2m-garage/app/helmrelease.yaml
  k3s-stable/apps/home-assistant/z2m/app/helmrelease.yaml
  k3s-stable/core/flux-system/notifications/notifications/notifications.yaml
Labels: k3s

Prevent CronJob backlog pod exhaustion
  k3s-stable/apps/life-automations/drive-invoices/cronjob.yaml
  k3s-stable/apps/monitoring/healthchecks_io/cronjobs/ping.yaml
Labels: k3s

Repair SearXNG Flux manifests
  k3s-stable/apps/ai/searxng/app/helmrelease.yaml
  k3s-stable/sources/searxng.yaml
Labels: k3s

Repair 1Password Connect credentials key
  k3s-experimental/core/external-secrets/op-connect/app/helmrelease.yaml
  k3s-stable/core/external-secrets/op-connect/app/helmrelease.yaml
Labels: k3s

Enable NFD system labels for gpu-operator
  k3s-stable/core/hardware/nfd/app/helmrelease.yaml
Labels: k3s

Repair 1Password Connect secret template
  ansible/roles/k3s/secrets/templates/secrets.yml.j2
Labels: ansible

Replace NFD system source with custom OS labels
  k3s-stable/core/hardware/nfd/app/helmrelease.yaml
Labels: k3s

Remove obsolete Meilisearch upgrade flag
  k3s-stable/apps/karakeep/karakeep/app/helmrelease.yaml
Labels: k3s

Enable Meilisearch database upgrade
  k3s-stable/apps/karakeep/karakeep/app/helmrelease.yaml
Labels: k3s

Add Forgejo to prod cluster
  k3s-stable/apps/forgejo/forgejo/app/helmrelease.yaml
  k3s-stable/apps/forgejo/forgejo/db/cluster.yaml
  k3s-stable/apps/forgejo/forgejo/kustomization.yaml
  k3s-stable/apps/forgejo/kustomization.yaml
  k3s-stable/apps/forgejo/namespace.yaml
  k3s-stable/sources/forgejo.yaml
Labels: k3s

Move Forgejo to devtools namespace
  k3s-stable/apps/devtools/forgejo/app/helmrelease.yaml
  k3s-stable/apps/devtools/forgejo/db/cluster.yaml
  k3s-stable/apps/devtools/forgejo/kustomization.yaml
  k3s-stable/apps/devtools/kustomization.yaml
  k3s-stable/apps/devtools/namespace.yaml
Labels: k3s

Add Forgejo to prod cluster (#845)
  k3s-stable/apps/devtools/forgejo/app/helmrelease.yaml
  k3s-stable/apps/devtools/forgejo/db/cluster.yaml
  k3s-stable/apps/devtools/forgejo/kustomization.yaml
  k3s-stable/apps/devtools/kustomization.yaml
  k3s-stable/apps/devtools/namespace.yaml
  k3s-stable/sources/forgejo.yaml
Labels: k3s

Add Development group to Homepage
  k3s-stable/apps/homepage/homepage/app/helmrelease.yaml
Labels: k3s

Add Development group to Homepage (#851)
  k3s-stable/apps/homepage/homepage/app/helmrelease.yaml
Labels: k3s

Fix Forgejo source and GPU operator deployment
  k3s-stable/core/hardware/gpu-operator/app/helmrelease.yaml
  k3s-stable/sources/kustomization.yaml
Labels: k3s
