Repository andrzej3393/homelab-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: ansible, k3s, docs, actions

.github/labeler.yml:

ansible:
  - changed-files:
      - any-glob-to-any-file:
          - "ansible/**/*"
          - "requirements.txt"

k3s:
  - changed-files:
      - any-glob-to-any-file:
          - "k3s-stable/**/*"
          - "k3s-experimental/**/*"

docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "**/*.md"

actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/*"

Home Assistant init
  k3s-stable/apps/high-seas/qbittorrent/app/pvc.yaml
  k3s-stable/apps/home-assistant/home-assistant/app/helmrelease.yaml
  k3s-stable/apps/home-assistant/home-assistant/kustomization.yaml
  k3s-stable/apps/home-assistant/kustomization.yaml
  k3s-stable/apps/home-assistant/namespace.yaml
  k3s-stable/sources/home-assistant.yaml
  k3s-stable/sources/kustomization.yaml
Labels: k3s

fix ns
  k3s-stable/apps/home-assistant/namespace.yaml
Labels: k3s

remove legacy HA from homepage
  k3s-stable/apps/homepage/homepage/app/helmrelease.yaml
Labels: k3s

fix?
  k3s-stable/apps/homepage/homepage/app/helmrelease.yaml
Labels: k3s

add HA config for http
  k3s-stable/apps/home-assistant/home-assistant/app/helmrelease.yaml
Labels: k3s

fix HA widget
  k3s-stable/apps/home-assistant/home-assistant/app/helmrelease.yaml
Labels: k3s

fix HA widget v2
  k3s-stable/apps/home-assistant/home-assistant/app/helmrelease.yaml
Labels: k3s

no widget
  k3s-stable/apps/home-assistant/home-assistant/app/helmrelease.yaml
Labels: k3s

Mosquitto init
  k3s-stable/apps/home-assistant/kustomization.yaml
  k3s-stable/apps/home-assistant/mosquitto/app/helmrelease.yaml
  k3s-stable/apps/home-assistant/mosquitto/kustomization.yaml
  k3s-stable/sources/kustomization.yaml
  k3s-stable/sources/t3n.yaml
Labels: k3s

rework mosquitto, add z2m
  k3s-stable/apps/home-assistant/kustomization.yaml
  k3s-stable/apps/home-assistant/mosquitto/app/helmrelease.yaml
  k3s-stable/apps/home-assistant/z2m/app/helmrelease.yaml
  k3s-stable/apps/home-assistant/z2m/kustomization.yaml
  k3s-stable/sources/kustomization.yaml
  k3s-stable/sources/z2m.yaml
Labels: k3s

retain
  k3s-stable/apps/home-assistant/mosquitto/app/helmrelease.yaml
Labels: k3s

external pvc
  k3s-stable/apps/home-assistant/mosquitto/app/helmrelease.yaml
  k3s-stable/apps/home-assistant/mosquitto/app/pvc.yaml
Labels: k3s

fix configmap name
  k3s-stable/apps/home-assistant/mosquitto/app/helmrelease.yaml
Labels: k3s

bump mosquitto
  k3s-stable/apps/home-assistant/mosquitto/app/helmrelease.yaml
Labels: k3s

get rid of mosquitto ingress
  k3s-stable/apps/home-assistant/mosquitto/app/helmrelease.yaml
Labels: k3s

configure mqtt for z2m
  k3s-stable/apps/home-assistant/z2m/app/helmrelease.yaml
Labels: k3s

configure x2m serial port
  k3s-stable/apps/home-assistant/z2m/app/helmrelease.yaml
Labels: k3s

enable drift detection for z2m hr
  k3s-stable/apps/home-assistant/z2m/app/helmrelease.yaml
Labels: k3s

fix indent
  k3s-stable/apps/home-assistant/z2m/app/helmrelease.yaml
Labels: k3s

add tls config
  k3s-stable/apps/home-assistant/z2m/app/helmrelease.yaml
Labels: k3s

fix tls
  k3s-stable/apps/home-assistant/z2m/app/helmrelease.yaml
Labels: k3s

try ezsp
  k3s-stable/apps/home-assistant/z2m/app/helmrelease.yaml
Labels: k3s

Setup bluetooth in HA
  ansible/playbooks/setup_k3s-stable.yml
  k3s-stable/apps/home-assistant/home-assistant/app/helmrelease.yaml
Labels: ansible, k3s

Set PYTHONUSERBASE for HA
  k3s-stable/apps/home-assistant/home-assistant/app/helmrelease.yaml
Labels: k3s

try PYTHONPATH
  k3s-stable/apps/home-assistant/home-assistant/app/helmrelease.yaml
Labels: k3s

deploy esphome
  k3s-stable/apps/home-assistant/esphome/app/helmrelease.yaml
  k3s-stable/apps/home-assistant/esphome/app/pvc.yaml
  k3s-stable/apps/home-assistant/esphome/kustomization.yaml
  k3s-stable/apps/home-assistant/kustomization.yaml
Labels: k3s

esphome use ping
  k3s-stable/apps/home-assistant/esphome/app/helmrelease.yaml
Labels: k3s

Bump ollama helm chart to 1.0.0
  k3s-stable/apps/ai/ollama/app/helmrelease.yaml
Labels: k3s

add z2m garage
  k3s-stable/apps/home-assistant/z2m-garage/app/helmrelease.yaml
  k3s-stable/apps/home-assistant/z2m-garage/kustomization.yaml
Labels: k3s

actually deploy z2m garage
  k3s-stable/apps/home-assistant/kustomization.yaml
  k3s-stable/apps/home-assistant/rtl_433/app/helmrelease.yaml
  k3s-stable/apps/home-assistant/rtl_433/app/pvc.yaml
  k3s-stable/apps/home-assistant/rtl_433/kustomization.yaml
Labels: k3s

fix config
  k3s-stable/apps/home-assistant/z2m-garage/app/helmrelease.yaml
Labels: k3s

generate zigbee network
  k3s-stable/apps/home-assistant/z2m-garage/app/helmrelease.yaml
Labels: k3s

uninstall z2m garage
  k3s-stable/apps/home-assistant/kustomization.yaml
Labels: k3s

install z2m garage again
  k3s-stable/apps/home-assistant/kustomization.yaml
Labels: k3s

no generate
  k3s-stable/apps/home-assistant/z2m-garage/app/helmrelease.yaml
Labels: k3s

manual panid/extpanid
  k3s-stable/apps/home-assistant/z2m-garage/app/helmrelease.yaml
Labels: k3s

drop panid
  k3s-stable/apps/home-assistant/z2m-garage/app/helmrelease.yaml
Labels: k3s

Revert "Update dependency ansible-lint to v25 (#239)"
  requirements.txt
Labels: ansible

Revert "Update dependency ansible-lint to v25 (#239)" (#244)
  requirements.txt
Labels: ansible

Revert "Update ghcr.io/cloudnative-pg/cloudnative-pg Docker tag to v1.25.0 (#…"
  k3s-stable/apps/cnpg-system/cnpg/app/helmrelease.yaml
Labels: k3s
