Repository andrzej3393/homelab-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: ansible, k3s, docs, actions

Revert "Update ghcr.io/cloudnative-pg/cloudnative-pg Docker tag to v1.25.0 (#…" (#245)
  k3s-stable/apps/cnpg-system/cnpg/app/helmrelease.yaml
Labels: k3s

set diff base topics for z2m instances
  k3s-stable/apps/home-assistant/z2m-garage/app/helmrelease.yaml
  k3s-stable/apps/home-assistant/z2m/app/helmrelease.yaml
Labels: k3s

Docs starter
  README.md
  docs/LICENSE.md
  docs/index.md
  mkdocs.yml
  requirements.txt
Labels: ansible, docs

Create CNAME
  CNAME
Labels: none

Docs auto build
  .github/workflows/publish-docs.yml
  docs/CNAME
  docs/requirements.txt
  requirements.txt
Labels: ansible, docs, actions

fix license link
  README.md
  docs/LICENSE.md
Labels: docs

Final fix for license link; ansible requirements
  .gitignore
  LICENSE.md
  README.md
  ansible/requirements.txt
  docs/LICENSE.md
Labels: ansible, docs

fix path to ansible requirements
  .github/workflows/ansible-lint.yml
Labels: actions

workflows fix w/ requirements and caches
  .github/workflows/ansible-lint.yml
  .github/workflows/publish-docs.yml
Labels: actions

fix ansible lint
  ansible/.ansible-lint
  ansible/.gitignore
Labels: ansible

fix proxmox homepage subst
  k3s-stable/core/flux-system/substitutions/secrets/externalsecret-homepage.yaml
Labels: k3s

publish docs only when docs changed
  .github/workflows/publish-docs.yml
Labels: actions

deploy jellyfin
  k3s-stable/apps/media/jellyfin/app/helmrelease.yaml
  k3s-stable/apps/media/jellyfin/kustomization.yaml
  k3s-stable/apps/media/kustomization.yaml
  k3s-stable/apps/media/namespace.yaml
  k3s-stable/sources/jellyfin.yaml
  k3s-stable/sources/kustomization.yaml
Labels: k3s

jellyfin homepage integration
  k3s-stable/apps/media/jellyfin/app/helmrelease.yaml
  k3s-stable/apps/media/jellyfin/kustomization.yaml
  k3s-stable/core/flux-system/substitutions/secrets/externalsecret-homepage.yaml
Labels: k3s

fix typo
  k3s-stable/apps/media/jellyfin/app/helmrelease.yaml
Labels: k3s

n8n
  k3s-stable/apps/life-automations/kustomization.yaml
  k3s-stable/apps/life-automations/n8n/app/db.yaml
  k3s-stable/apps/life-automations/n8n/app/helmrelease.yaml
  k3s-stable/apps/life-automations/n8n/app/pvc.yaml
  k3s-stable/apps/life-automations/n8n/kustomization.yaml
  k3s-stable/apps/monitoring/kustomization.yaml
  k3s-stable/sources/kustomization.yaml
  k3s-stable/sources/n8n.yaml
Labels: k3s

path?
  k3s-stable/apps/life-automations/n8n/app/helmrelease.yaml
Labels: k3s

n8n configs
  k3s-stable/apps/life-automations/n8n/app/helmrelease.yaml
Labels: k3s

envs again
  k3s-stable/apps/life-automations/n8n/app/helmrelease.yaml
Labels: k3s

Revert "Update Helm release external-dns to v1.16.0 (#323)"
  k3s-stable/core/external-dns/external-dns/app/helmrelease.yaml
Labels: k3s

Revert "Update Helm release external-dns to v1.16.0 (#323)" (#335)
  k3s-stable/core/external-dns/external-dns/app/helmrelease.yaml
Labels: k3s

fix external-dns helm chart
  k3s-experimental/core/external-dns/external-dns/app/helmrelease.yaml
  k3s-stable/core/external-dns/external-dns/app/helmrelease.yaml
Labels: k3s

try out gha push secret
  k3s-stable/core/external-secrets/gha-secrets/destination/grafana.yaml
  k3s-stable/core/external-secrets/gha-secrets/kustomization.yaml
  k3s-stable/core/external-secrets/gha-secrets/source/grafana.yaml
  k3s-stable/core/external-secrets/gha-secrets/store/andrzej3339_homelab-v2.yaml
  k3s-stable/core/external-secrets/gha-secrets/store/privatekey.yaml
  k3s-stable/core/external-secrets/kustomization.yaml
Labels: k3s

fill namespaces
  k3s-stable/core/external-secrets/gha-secrets/destination/grafana.yaml
  k3s-stable/core/external-secrets/gha-secrets/store/andrzej3339_homelab-v2.yaml
Labels: k3s

Revert "fill namespaces"
  k3s-stable/core/external-secrets/gha-secrets/destination/grafana.yaml
  k3s-stable/core/external-secrets/gha-secrets/store/andrzej3339_homelab-v2.yaml
Labels: k3s

Revert "try out gha push secret"
  k3s-stable/core/external-secrets/gha-secrets/destination/grafana.yaml
  k3s-stable/core/external-secrets/gha-secrets/kustomization.yaml
  k3s-stable/core/external-secrets/gha-secrets/source/grafana.yaml
  k3s-stable/core/external-secrets/gha-secrets/store/andrzej3339_homelab-v2.yaml
  k3s-stable/core/external-secrets/gha-secrets/store/privatekey.yaml
  k3s-stable/core/external-secrets/kustomization.yaml
Labels: k3s

deploy karakeep
  k3s-stable/apps/homepage/homepage/app/helmrelease.yaml
  k3s-stable/apps/karakeep/karakeep/app/externalsecret.yaml
  k3s-stable/apps/karakeep/karakeep/app/helmrelease.yaml
  k3s-stable/apps/karakeep/karakeep/app/pvc-hoarder.yaml
  k3s-stable/apps/karakeep/karakeep/app/pvc-meilisearch.yaml
  k3s-stable/apps/karakeep/karakeep/kustomization.yaml
  k3s-stable/apps/karakeep/kustomization.yaml
  k3s-stable/apps/karakeep/namespace.yaml
Labels: k3s

terraform init
  .terraform-version
  .tflint.hcl
  Taskfile.yml
  terraform/.gitignore
  terraform/.terraform.lock.hcl
  terraform/_locals.tf
  terraform/_terraform.tf
  terraform/buckets.tf
  terraform/dns.tf
  terraform/modules/proxmox_user/_terraform.tf
  terraform/modules/proxmox_user/_variables.tf
  terraform/modules/proxmox_user/user.tf
  terraform/modules/proxmox_vm/_outputs.tf
  terraform/modules/proxmox_vm/_terraform.tf
  terraform/modules/proxmox_vm/_variables.tf
  terraform/modules/proxmox_vm/cloud_config.tf
  terraform/modules/proxmox_vm/domains.tf
  terraform/modules/proxmox_vm/user-data-cloud-config.yaml.tftpl
  terraform/modules/proxmox_vm/vm.tf
  terraform/proxmox.tf
Labels: none

fix typo
  k3s-stable/apps/karakeep/karakeep/app/helmrelease.yaml
Labels: k3s

bump inference timeout
  k3s-stable/apps/karakeep/karakeep/app/helmrelease.yaml
Labels: k3s

meilisearch experimental auto upgrade
  k3s-stable/apps/karakeep/karakeep/app/helmrelease.yaml
Labels: k3s

typo
  k3s-stable/apps/karakeep/karakeep/app/helmrelease.yaml
Labels: k3s

deploy penpot
  k3s-stable/apps/penpot/jellyfin/app/helmrelease.yaml
  k3s-stable/apps/penpot/jellyfin/db/cluster.yaml
  k3s-stable/apps/penpot/jellyfin/kustomization.yaml
  k3s-stable/apps/penpot/kustomization.yaml
  k3s-stable/apps/penpot/namespace.yaml
  k3s-stable/sources/kustomization.yaml
  k3s-stable/sources/penpot.yaml
Labels: k3s

rename
  k3s-stable/apps/penpot/penpot/app/helmrelease.yaml
  k3s-stable/apps/penpot/penpot/db/cluster.yaml
  k3s-stable/apps/penpot/penpot/kustomization.yaml
Labels: k3s

move to existing claims
  k3s-stable/apps/penpot/penpot/app/helmrelease.yaml
  k3s-stable/apps/penpot/penpot/app/pvc-assets.yaml
  k3s-stable/apps/penpot/penpot/app/pvc-exporter.yaml
Labels: k3s

fix name
  k3s-stable/apps/penpot/penpot/app/helmrelease.yaml
Labels: k3s

reconfigure penpot db access
  k3s-stable/apps/penpot/penpot/app/helmrelease.yaml
Labels: k3s

cleanup
  k3s-stable/apps/life-automations/kustomization.yaml
  k3s-stable/apps/life-automations/n8n/app/db.yaml
  k3s-stable/apps/life-automations/n8n/app/helmrelease.yaml
  k3s-stable/apps/life-automations/n8n/app/pvc.yaml
  k3s-stable/apps/life-automations/n8n/kustomization.yaml
  k3s-stable/apps/life-automations/regaris/cronjob.yaml
  k3s-stable/apps/life-automations/regaris/externalsecret.yaml
  k3s-stable/apps/life-automations/regaris/kustomization.yaml
  k3s-stable/apps/penpot/kustomization.yaml
  k3s-stable/apps/penpot/namespace.yaml
  k3s-stable/apps/penpot/penpot/app/helmrelease.yaml
  k3s-stable/apps/penpot/penpot/app/pvc-assets.yaml
  k3s-stable/apps/penpot/penpot/app/pvc-exporter.yaml
  k3s-stable/apps/penpot/penpot/db/cluster.yaml
  k3s-stable/apps/penpot/penpot/kustomization.yaml
  k3s-stable/sources/kustomization.yaml
  k3s-stable/sources/n8n.yaml
  k3s-stable/sources/penpot.yaml
Labels: k3s

TF linters
  .github/workflows/terraform-linters.yml
Labels: actions

fix tflint
  .github/workflows/terraform-linters.yml
  .tflint.hcl
  terraform/_locals.tf
Labels: actions

.github/labeler.yml:

ansible:
  - changed-files:
      - any-glob-to-any-file:
          - "ansible/**/*"
          - "requirements.txt"

k3s:
  - changed-files:
      - any-glob-to-any-file:
          - "k3s-stable/**/*"
          - "k3s-experimental/**/*"

docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "**/*.md"

actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/*"
